.cabecalho{
    background: #2DB5FA;
    height: 60px;
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.menu-cabecalho{
    width: 98%;
    margin: 0px auto;
}

/*  */