:root{
    --fonts-principal: Poppins-ExtraBold;
    --fonts-secundaria: Arial, Helvetica, sans-serif;
    --fonts-terceiro: 'Josefin Sans', Helvetica, sans-serif;
    --cor-bg-principal: #EEEEEE;
    --cor-bg-secundario: #dde2e7;
    --cor-texto-home-primaria: #ed3237;
    --cor-texto-home-secundaria: #3a3a3a;
    --cor-texto-home-terceira: #424C8E;
    --cor-texto-quem-somos-primaria: #333333;
    --cor-button-primaria: #424c59;
    --cor-button-secundaria: #424C99;
    --cor-rodape-primaria: #90969E;
    --cor-rodape-secundaria: #a6a9ac;
    --cor-projetos-primaria: #F27073;
    --cor-projetos-secundaria: #787AB5;

    font-size: 60%;
}

*{
    box-sizing: border-box;
    font-family: var(--fonts-principal);
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body{
    padding-top: 80px;
}